.entire-form-box {
	margin-top: 75px;
}

#border-box {
	border: 1px #CCC solid;
  box-shadow: 0 0 5px 0 #ccc;
  padding-top: 25px;
  padding-bottom: 75px;
}

.form-control-feedback {
	display: none;
}

.page-head {
	margin-top: 75px;
}